.track-display {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/*.track-display:not(:last-child)*/

.track-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.track-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.track-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.track-artists {
  font-size: 12px;
  color: #b3b3b3;
  margin: 0;
  text-align: left;
}